._bookmark {
    padding: 16px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1px;
    position: relative;
}

._bookmark h1.title {
    font-size: 1.1em;
    color: #313131;
    width: 250px;
    margin: 0;
    font-weight: 600;
    padding: 0;
    line-height: 1.4em;
    margin-bottom: 8px;
}

._bookmark p.link {
    color: #A8A8A8;
    font-size: 11px;
}

._bookmark .dropdown {
    position: absolute;
    right: 16px;
    top: 16px;
}

._bookmark .dropdown .btn {
    padding: 0;
    margin: 0;
}
._bookmark .dropdown .dropdown-menu {
    min-width: auto;
}